<div class="container text-center">
  <!-- пока никакое значение не передано отрисовываем вводную инструкцию -->
  <h1 *ngIf="!valString" class="p-5">Введите массив JSON объектов</h1>
  <div class="row">
    <!-- отрисовываем карточки, сколько не одинаковых заголовков передал пользователь во всех объектах - столько и карточек -->
    <div class="col-12 col-md-4" *ngFor="let title of titles">
      <div class="card shadow-sm m-2">
        <h3 class="card-header">{{title}}</h3>
        <ul class="list-group list-group-flush">
          <!-- отрисовываем наполнение карточки -->
          <li class="list-group-item p-0" *ngFor="let val of valToJSON">
            <input class="form-control list-group-item" [disabled]="!isReadyToReturn" type="text" [(ngModel)]='val[title.toLowerCase()]'>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- можно было бы оставить форму встроенной частью всей программы, 
    но решил поэксперементировать с созданием компонента -->
  <app-form [(val)]="valString" [(isReadyToReturn)]='isReadyToReturn' (valChange)="change()"></app-form>
</div>